extends ./application.pug
block content
  .div(class="header_wrapper")
  h3 Dashboard
      ul
        if user.company
          .col.s12.m7
          h2.header #{user.company}
          .card.horizontal
            .card-image
              img(src="../images/pexels-photo-59016.jpeg", width="300" height="225")
            .card-stacked
              .card-content
                p I am a very simple card. I am good at containing small bits of information.
              .card-action
                a(href='#') This is a link
          li #{user.company}
          p Location: #{user.location}
          p Cuisine: #{user.style}
          img(src=user.locationurl, width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
          img(src="../images/pexels-photo-59016.jpeg", width="300" height="225")
        else
          li #{user.username}

  include ./footer.pug
